<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>faceapp</title>

    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script>
    <script>
  // Your web app's Firebase configuration
 
  var firebaseConfig = {
  apiKey: "api-key",
  authDomain: "project-id.firebaseapp.com",
  databaseURL: "https://project-id.firebaseio.com",
  projectId: "project-id",
  storageBucket: "project-id.appspot.com",
  messagingSenderId: "sender-id",
  appId: "app-id",
  measurementId: "G-measurement-id",
  };
      
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
   

  // Get a reference to the database service
  var database = firebase.database();
  console.log(database)

  function sendURL(urlstr) {
    database.ref("FaceApp-ML-Model-Urls").set({url:urlstr});
  }
    </script>

  </head>
  <body>
    <h1 id="url">{{ urldata }}</h1>


    <script>
      alert("{{urldata}} Added Sucessfully")
      sendURL("{{urldata}}")
    //sendURLdocument.getElementbyId('url').innerText()
    </script>

  </body>
<html>
